<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Página de Información</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="../coleccion1/coleccion1.component.css">
</head>
<body>
  <header class="bg-dark text-white text-center py-5">
    <h1>Welcome to our Fashion Career page</h1>
    <p>
      Explore our latest collections and information for you to be a designer</p>
  </header>
  <div class="container">
    <h1 class="mt-4 text-uppercase">Collection on the Panama Canal</h1>

    <div class="row">
      <div class="col-md-8">
        <h2 class="fst-italic my-5">Chromatic analysis of the Panama Canal</h2>
        <img src="../../../assets/img/canaldepanama.png" alt="Imagen 4" class="img-fluid">
        <p class= "fs-2 fw-bolder my-5 display">In the following image you can see one of the impressive views offered by the canal
          of Panama, where you can mainly highlight the harmonious combination of colors
          cold and warm in the same photo.
          Within the chromatic analysis it can be observed that several shades of color stand out
          coffee and water. From the results obtained from the chromatic analysis of the physical structure of the
          Panama Canal; the different colors that will be used in the development will be selected
          from the collection.</p>
      </div>


    </div>

    <div class="row mt-2">
      <div >
        <h2 class="fs-5 fst-italic my-5" >
          Sketches</h2>
        <carousel>
          <slide class="custom-slide">
            <img src="../../../assets/img/boceto1.png" alt="Imagen 1">
            <div class="carousel-caption">

            </div>
          </slide>
          <slide  class="custom-slide">
            <img src="../../../assets/img/boceto2.png" alt="Imagen 2">
            <div class="carousel-caption">

            </div>
          </slide>
          <slide  class="custom-slide">
            <img src="../../../assets/img/boceto3.png" alt="Imagen 3">
            <div class="carousel-caption">

            </div>
          </slide>
          <slide  class="custom-slide">
            <img src="../../../assets/img/boceto4.png" alt="Imagen 4">
            <div class="carousel-caption">

            </div>
          </slide>
        </carousel>
        <p class="fs-5 fst-italic my-5">
          Here are the sketches made</p>


      </div>
      <div class="col-md-4 mx-5">
        <h2 class="fst-italic my-5" >Moodboard
          inspiration</h2>
        <div>
          <carousel>
            <slide class="custom-slide">
              <img src="../../../assets/img/mooncard1.png" alt="Imagen 1">
              <div class="carousel-caption">
                <h3>MoodBar</h3>
                <p>Special features</p>
              </div>
            </slide>
            <slide  class="custom-slide">
              <img src="../../../assets/img/mooncard2.png" alt="Imagen 2">
              <div class="carousel-caption">
                <h3>Color Chart</h3>
                <p>
                  Color Palette Obtained from Chromatic Analysis</p>
              </div>
            </slide>
            <slide  class="custom-slide">
              <img src="../../../assets/img/mooncard3.png" alt="Imagen 3">
              <div class="carousel-caption">
                <h3>
                  Textile Chart</h3>
                <p>
                  The figure shows the textiles selected for the outfits</p>
              </div>
            </slide>
            <slide  class="custom-slide">
              <img src="../../../assets/img/mooncard4.png" alt="Imagen 4">
              <div class="carousel-caption">
                <h3>
                  Supply Letter</h3>
                <p>The figure shows the inputs selected for the outfit</p>
              </div>
            </slide>
          </carousel>

        </div>


      </div>

    </div>
    <div class="row">
      <div class="col-md-6 my-4">
        <h2 class="fs-5 fst-italic my-5">
          Parade Woman</h2>
        <video width="400" height="400" controls>
          <source [src]="videoUrl1" type="video/mp4">
          Tu navegador no admite la reproducción de video.
        </video>

      </div>
      <div class="col-md-6 my-4">
        <h2 class="fs-5 fst-italic my-5">
          Parade Man</h2>
        <video width="400" height="400" controls>
          <source [src]="videoUrl2" type="video/mp4">
          Tu navegador no admite la reproducción de video.
        </video>

      </div>
    </div>



  </div>
  <footer class="bg-dark text-white text-center py-3">
    <p>All rights reserved by Carrera De Software &copy; 2023 | Fashion design</p>
  </footer>

  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
